* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  text-align: 1.5;
}

main {
  display: flex;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: center;
  height: 50vh;
  padding: 22px;
}

.description {
  background-image: url("./assets/bg-twitter.jpg");
  background-repeat: no-repeat;
  bac
  height: 50vh;
}

@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
  }
  .login {
    order: 2;
    width: 50vw;
    height: 100vh;
  }
  .description {
    width: 50vw;
    height: 100vh;
  }
}

.login__main {
  padding: 14px;
  max-width: 310px;
}

.login__icon img {
  width: 4rem;
}

.login__title {
  font-size: calc(1.5rem + 2vw);
  font-weight: bold;
}

.login__button {
  margin-block-start: 5rem;
}

.login__button button {
  display: block;
  border-radius: 16px;
  min-width: 300px;
  height: 3.3rem;
  margin-block: 10px;
  margin-inline: auto;
  font-weight: 600;
}

.login__button--signup {
  background-color: #39a2f3;
  color: white;
  border: none;
}

.login__button--login {
  background-color: transparent;
  border: 2px solid #39a2f3;
  color: #39a2f3;
}
