.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 65, 73);
}
.form {
  display: flex;
  flex-direction: column;
}
label {
  margin: 7px;
}
.hobbies {
  display: flex;
  flex-direction: column;
}
fieldset {
  margin-block: 5px;
}

.header {
  background-color: aquamarine;
}

.form {
  background-color: cornflowerblue;
}

.form__button--send:hover {
  border-radius: 40px;
}
.footer {
  background-color: brown;
}
